/* src/index.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  /* Тот самый Deep Black для слияния с отражением */
  background-color: #000000; 
  color: #ffffff;
  overflow: hidden; /* Скрываем скроллбары, это же зеркало */
  cursor: none; /* Пока скроем обычный курсор, позже сделаем Crosshair */
}